@CHARSET "ISO-8859-1";
.container{
    width:900px;
    margin:0 auto;
    background: #000;
    font-size:12px !important;
}
.tab-view{display: none;}
.visible{display: block;}

body{
	background:#eff0f5 !important;
}

footer{
	padding:12px 0 12px 0;
}